.success-toast {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
}

.task form {
    /* display: inline-block; */
}

.task-actions-group {
    /* display: inline-block; */
}

.task-complete-button {
    font-size: 22px;
}

.task-action-btn:focus {
    box-shadow: none;
}

.task-action-btn:hover i {
    opacity: 0.7;
}
