.info-toast {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.info-toast .title {
    white-space: nowrap;
}


.users-table td {
    vertical-align: middle;
}

.admin-user-row {
    background-color: #bef5c4;
    /* color: white; */
}

li.project.active a,
li.project.active i {
    color: white;
}


li.project a {
    text-decoration: none;
    color: #3490dc;
}



.task-complete-button {
    font-size: 22px;
}

.action-btn:focus {
    box-shadow: none;
}

.action-btn:hover i {
    opacity: 0.7;
}
