.info-toast {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.info-toast .title {
    white-space: nowrap;
}


li.project.active a,
li.project.active i {
    color: white;
}


li.project a {
    text-decoration: none;
    color: #3490dc;
}


li.project .actions {}


.task-complete-button {
    font-size: 22px;
}

.action-btn:focus {
    box-shadow: none;
}

.action-btn:hover i {
    opacity: 0.7;
}
